/* Estilos personalizados para el sidebar */

#sidebar {
    background-color: #1c1f26; /* Color de fondo oscuro */
    color: #ffffff;
    min-height: 100vh;
    padding-top: 20px;
}

#sidebar .sidebar-header {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #14171c; /* Color más oscuro para el encabezado */
    padding: 20px;
    border-bottom: 1px solid #444;
}

#sidebar .nav-link {
    color: #b0bec5; /* Color de los enlaces */
    font-size: 1.1rem;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

#sidebar .nav-link i {
    font-size: 1.4rem;
    margin-right: 10px;
}

#sidebar .nav-link:hover {
    background-color: #37474f; /* Color de fondo al hacer hover */
    color: #ffffff;
    border-radius: 5px;
}

#sidebar .nav-link.active {
    background-color: #263238; /* Color de fondo para el enlace activo */
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}
